<div *ngIf="childSelectedKeg">
  <h1>Edit a Keg</h1>
  <div>
    <label>Name:</label>
    <input [(ngModel)]="childSelectedKeg.name">
  </div>
  <div>
    <label>Type</label>
    <select [(ngModel)]="childSelectedKeg.type">
      <option> Cider </option>
      <option> IPA </option>
      <option> Pilsner </option>
      <option> Stout </option>
      <option> Amber </option>
    </select>
  </div>
  <div>
    <label>Price:</label>
    <input [(ngModel)]="childSelectedKeg.price">
  </div>
  <div>
    <label>ABV:</label>
    <input [(ngModel)]="childSelectedKeg.abv">
  </div>
  <button (click)="editDone()">Done</button>
</div>
